body {
}
header {
    width: 94%;
    margin-left: 3%;
    height: 10%;
    float: left;
    border-radius: 7px;
    background-color: goldenrod;
}
footer {
    width:100%;
    position:absolute;
    bottom:2%;
}
#topLeft {
    position: absolute;
    top: 12%;
    left: 4%;
    width: 30%;
    height: 50%;
    float: left;
    border-radius: 7px;
    background-color: orangered;
}
#topCenter {
    position: absolute;
    top: 12%;
    left: 35%;
    width: 30%;
    height: 50%;
    float: left;
    border-radius: 7px;
    background-color: green;
}
#topRight {
    position: absolute;
    top: 12%;
    left: 66%;
    width: 30%;
    height: 50%;
    float: left;
    border-radius: 7px;
    background-color: purple;
}
#thumbContainer {
  clear:both;
  position:absolute;
  width:80%;
  left:10%;
  top:63%;
  height: 210px;
  padding:10px;
  border: 1px solid blue;
}
.buttonContainer {

}
.dropContainer {
    position:relative;
    top:-1em;
    background-color: rgba(255,255,255,0.5);
    border-radius: 7px;
}
.dropButton {
    background-color: rgba(255,255,255,0.5);
    border-radius: 7px;
}
a:link {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}
a:visited {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}
a:hover {
    font-size: 1.5em;
    color: darkred;
    text-decoration: none;
}
.thumb {
  margin 5px 5px 5px 5px;
  border solid blue 1px;
  padding 5px 5px 5px 5px;
}
h1 {
    text-align: center;
    color: green;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h5 {
    text-align: center;
}
blockquote {
    font-size: 1.5em;
    color:darkgoldenrod;
    text-shadow: 2px 2px 8px #000000;
    font-style:italic;
    font-family:Gautami;
}
